.main {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
}

.paper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 70%;
    font-weight: bold;
    align-items: center;
    width: 70%;
}