@import "src/SCSS/variables.scss";

.main {
    background-color: $secondBackground;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}
