@import "src/SCSS/variables.scss";
@import "src/SCSS/mixins";

.skillItem{
    margin-bottom: 30px;
    width: 100%;
    & h6{
        font-size: 13px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 10px;
        line-height: 1.4;
        color: inherit;
        padding: 0;
        text-align: left;
    }
}

.skillProgress{
    text-align: left;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    box-sizing: border-box;
    outline: none;
    list-style: none;

}

.progress{
    @include text(1,400,$mainColor,'Barlow Condensed',1.5);
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $secondaryColor;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    width:0;

    &::after{
        content: attr(title);
        position: absolute;
        right: 10px;
        top: -45px;
        padding: 7px 15px;
        border-radius: 5px;
        background: $secondaryColor;
        color: #111;
        font-size: 12px;
        font-weight: 600;
        box-sizing: border-box;

    }
    &::before{
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 8px solid $secondaryColor;
        position: absolute;
        right: 15px;
        bottom: 14px;
        box-sizing: border-box;
    }

  //  &[title='60%'] {width: 60%};
  //&[title='70%'] {width: 70%};
  //&[title='80%'] {width: 80%};
  //&[title='85%'] {width: 85%};
  //&[title='90%'] {width: 90%};
};
