.skillItem{
    margin-bottom: 30px;
    width: 100%;
}
.skillItem h6{
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    line-height: 1.4;
    color: inherit;
    padding: 0;
    text-align: left;
}
.skillProgress{
    text-align: left;
    height: 7px;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    box-sizing: border-box;
    outline: none;
    list-style: none;

}
.progress{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #dc965a;
    transition: all 1.5s;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.5;
    font-weight: 400;
}
.progress[title='60%']{ width: 60%}
.progress[title='90%']{width: 90%}
.progress[title='70%']{width: 70%}
.progress[title='80%']{width: 80%}
.progress[title='85%'] {width: 85%}

.progress::after{
    content: attr(title);
    position: absolute;
    right: 10px;
    top: -45px;
    padding: 7px 15px;
    border-radius: 5px;
    background: #dc965a;
    color: #111;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;

}
.progress::before{
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid #dc965a;
    position: absolute;
    right: 15px;
    bottom: 14px;
    box-sizing: border-box;
}
