.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.paper {
    height: 70%;
    font-weight: bold;
    align-items: center;
    width: 70%;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
}