@import "src/SCSS/variables.scss";
@import "src/SCSS/mixins";

.main {
    display: flex;
    padding: 120px 0;
    color: $mainColor;
    background: $firstBackground;
    & h6{
        @include text(16px,300,$mainColor,'Barlow Condensed',1.2);

        text-transform: uppercase;
        letter-spacing: 4px;
    }

}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}
.skills {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 50px;
    min-width: 50%;
    padding-right: 15px;
    padding-left: 45px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.textAbout{
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 50%;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-align: left;
    overflow-x: hidden !important;
     & a:hover {
         text-decoration: none;
     }
}
.subTitle{
    position: relative;
    padding-left: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.one{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $secondaryColor;
    position: absolute;
    bottom: 3px;
    left: 2px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    list-style: none;

}
.two{
    box-sizing: border-box;
    outline: none;
    list-style: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: $secondaryColor;
    position: absolute;
    left: 9px;
    bottom: 3px;
    display: inline-block;
}
.three{
    box-sizing: border-box;
    outline: none;
    list-style: none;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    left: 9px;
    top: 4px;
    background: $secondaryColor;
    position: absolute;
    display: inline-block;
}
.txtBig{
    @include text(35px,600,$mainColor,'Poppins', 1.5);

    display: inline-block;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    margin-bottom: 15px;
    margin-top: 0;
}
.txtSmall{
    @include text(15px,300,#c8c8c8,'Poppins',2);

    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    margin: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}
@media (max-width:449px ) {
    .skills{
        width: 100%;
    }
    .textAbout{
        max-width: 100%;
    }
}
