@import 'src/SCSS/variables.scss';
@import 'src/SCSS/mixins';

.main{
    min-height: 100vh;
    position: relative;
    display: block;
    -webkit-box-align: center;
    background: #626262;
    & h6{
        @include text(14px,400,$secondaryColor,inherit,1.4);

        letter-spacing: 5px;
        display: flex;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    & h1{
        @include text(100px,700,$mainColor,'Cormorant Garamond',1);

        margin-bottom: 5px;
        margin-top: 0;
        box-sizing: border-box;
        display: flex;
    }
    & h4{
        @include text(30px,300,$mainColor,inherit, 1);

        display: flex;
        text-transform: uppercase;
        letter-spacing: 4px;
        box-sizing: border-box;
        margin: 0;
    }

}
.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 50px;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
}


.row{
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    min-height: 1px;
    padding-right: -15px;
    padding-top: 90px;
    padding-left: -15px;
    flex: 0 0 50%;
    max-width: 50%;
}


.socialBox{
    display: flex;
    justify-content: left;
    margin-top: 40px;

}
.nav{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    box-sizing: border-box;
    & a{
        @include text(12px, 500, $mainColor,'Poppins',1.5 );

        box-sizing: border-box;
        padding: 15px 7px;
        margin: 10px 15px;
        text-decoration: none;
        background-color: transparent;


    }
}

