.main{
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 100%;
    align-items: center;

}
.paper{
height: 50%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*flex-direction: row;*/
}
.text{
    background-color: wheat;
    font-weight: bold;
    margin-left: 10%;
}
.img{
    background-color: lightblue;
    width: 35%;
}