@import 'src/SCSS/variables.scss';
@import 'src/SCSS/mixins';

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    overflow: hidden;
    background-color: $secondBackground;
    animation: show 3s;
    @keyframes show {

        from {opacity:0.1;}

        to {opacity:1;}

    }
    & .imgContainer{
        align-self: flex-end;
        height: 70%;
        position: absolute;
        z-index: 1;
        object-fit: cover;
        padding-top: 9%;
        padding-right: 20%;
    }
    & img{
        height: 100%;


    }
    & .imgFrame{
        align-self: flex-end;
        position: absolute;
        height: 76%;
        width: 150px;
        z-index: 0;
        opacity: 0.7;
        background-color: $secondaryColor;
        margin-top: 7.5%;
        margin-right: 18.5%;
        @media (max-width: 890px) {
            height: 30%;
        }
    }
    & h6{
        @include text(14px,400,$secondaryColor,inherit,1.4);

        letter-spacing: 5px;
        display: flex;
        margin-top: 0;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
    & h1{
        @include text(100px,700,$mainColor,'Cormorant Garamond',1.2);

        margin-bottom: 5px;
        margin-top: 0;
        box-sizing: border-box;
        display: flex;
        @media (max-width: 390px) {
            &{
                font-size: 70px;
            }
        }
        @media (max-width: 440px)and ( min-width:391px) {
        & {
            font-size: 80px;

        }
        }

    }

    & h4{
        @include text(30px,300,$mainColor,inherit, 1.2);
        height: 72px;
        display: flex;
        text-transform: uppercase;
        letter-spacing: 4px;
        box-sizing: border-box;
        margin: 0;
    }

}
.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 50px;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
    z-index: 5;
}


.row{
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    min-height: 1px;
    padding-right: -15px;
    padding-top: 90px;
    padding-left: -15px;
    flex: 0 0 50%;
    max-width: 50%;
}


.socialBox{
    display: flex;
    justify-content: left;
    margin-top: 40px;

    & a:hover {
        scale: 1.2;
    }
}
.nav{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    box-sizing: border-box;
    z-index: 1;
    & a{
        @include text(12px, 500, $mainColor,'Poppins',1.5 );

        box-sizing: border-box;
        padding: 15px 7px;
        margin: 10px 15px;
        text-decoration: none;
        background-color: transparent;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

