.main{
    min-height: 100vh;
    position: relative;
    display: block;
    /*flex-direction: column;*/
    -webkit-box-align: center;
    background: #626262;



}
.container {
    max-width: 1200px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-top: 50px;
    box-sizing: border-box;
    display: block;
    flex-wrap: wrap;
}
.main h6{
    display: flex;
    margin-top: 0;
    color: #dc965a;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 5px;
    line-height: 1.4;
}
.main h1{
    font-size: 100px;
    font-weight: 700;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 5px;
    margin-top: 0;
    color: #fff;
    line-height: 1.4;
    box-sizing: border-box;
    display: flex;

}
.main h4{
    display: flex;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    font-size: 30px;
    font-family: inherit;
    box-sizing: border-box;
    margin: 0;
}

.row{
    display: block;
    box-sizing: border-box;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    min-height: 1px;
    padding-right: -15px;
    padding-left: -15px;
    flex: 0 0 50%;
    max-width: 50%;
}


.socialBox{
    display: flex;
    justify-content: left;
    margin-top: 40px;

}
.nav{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    display: flex;
    justify-content: right;
    flex-wrap: nowrap;
    box-sizing: border-box;
}
.nav a{
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    box-sizing: border-box;
    padding: 15px 7px;
    margin: 10px 15px;
    text-decoration: none;
    background-color: transparent;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}