@import "src/SCSS/variables";
@import "src/SCSS/mixins";

.main{

    background-color: $secondBackground;
    position: fixed;
    top: -70px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  z-index: 999;
  border-bottom: 2px solid #181b21;

}

.typogr {
  min-height:68px;
  background-color: $secondBackground;
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: right;
  flex-wrap: nowrap;
  box-sizing: border-box;

  //top:0;
  //position: sticky;

  & a {
    @include text(12px, 500, $mainColor, 'Poppins', 1.5);

    box-sizing: border-box;
    padding: 15px 7px;
    margin: 10px 15px;
    text-decoration: none;
    background-color: transparent;

  }
}
