@import "src/SCSS/variables.scss";
@import "src/SCSS/mixins";

.button {
    @include text(17px,300,#fff,'Barlow Condensed',1.1);
position: relative;
    background: transparent;
    border: 0;
    padding: 7px;
    text-decoration: none;
    z-index: 3;
    & a{
        position: relative;
        text-transform: uppercase;
        letter-spacing: 4px;
        z-index: 1;
    }
    &::after{
        content: '';
        width: 45%;
        height: 100%;
        background: rgba(220, 150, 90, 0.3);
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        z-index: 0;

    }

    &:hover::after{
        transition: 0.2s;
        background: rgba(220, 150, 90, 0.8);
    }

}
