.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    background-color: wheat;
}

.paper {
    min-height: 70%;
    font-weight: bold;
    align-items: center;
    width: 70%;
}
.withWorks{
display: flex;
    justify-content: space-between;
}
.oneWork{
    background-color: burlywood ;
    min-width: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.watch{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    box-sizing: border-box;


}
.description{
    background-color: darkcyan;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60%;
}
