.main {
    display: flex;
    margin-top: -30px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    width: 100%;
    background-color: #11141b;
}
.withWorks {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
}
.oneWork{
    background-color: #151921 ;
    padding: 60px;
    box-sizing: border-box;

    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    color: #fff;
    min-width: 300px;
    max-width: 300px;
    box-sizing: border-box;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden !important;
    font-family: 'Poppins', sans-serif;
}
.watch{
    background-color: #151921;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    box-sizing: border-box;


}
.description{

    background-color: #151921;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    flex-direction: column;
    height: 60%;
}
.description p{
    margin-bottom: 15px;
    line-height: 1.4;
    font-weight: 600;
    font-family: inherit;
    box-sizing: border-box;
}
.description div{
    color: #c8c8c8;
    font-size: 15px;
    font-weight: 300;
    line-height: 2;
    overflow: hidden;
    margin: 0;
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.heading{
    background: #0c0f16;
    width: 100%;
    padding-bottom: 200px;
}
