@import 'src/SCSS/variables.scss';
@import 'src/SCSS/mixins.scss';

.main {
    padding-top: 120px;
    color: $mainColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;

    & p{
        @include text(13px, 300, #999,inherit , 2);

    }
}
