@import 'src/SCSS/variables.scss';

.main {
    background-color: $firstBackground;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 100%;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.formContainer{
    width: 100%;
 margin-top: 80px;
    //-webkit-animation: showDiv 2s 1;
    //-webkit-transition:opacity .2s ease;
    //-moz-transition:opacity .2s ease;
    //transition:opacity .2s ease;
    //animation: showDiv 2s 1;

@keyframes showDiv {
    from {opacity: 0;transform: scale(0, .025);}
    to {opacity: 1;transform: scale(1, .025);}
}

}
.form{
    width: 100%;
    display: flex;
max-width: 1200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & textarea{
        height: 144px;
        width: 100%;
        max-width: 80%;
        padding: 15px 0;
        margin-bottom: 30px;
        border: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        background: none;
        color: $mainColor;
        font-family: 'Barlow Condensed', sans-serif;
        overflow: auto;
        resize: vertical;
        font-size: inherit;
        line-height: inherit;
        -webkit-tap-highlight-color: transparent;
        &:focus{
            outline: none;

        }
    }
}


.inputContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.formInputContainer{
    min-width: 33.333%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    display: block;
    visibility: visible;
    animation-delay: 0.5s;
    animation-name: fadeInUp;
    line-height: 1.5;
    font-weight: 400;
    overflow-x: hidden !important;
    -webkit-text-size-adjust: 86%;
    -webkit-tap-highlight-color: transparent;
}
.formInput{
    width: 100%;
    padding: 15px 0;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    background: transparent;
    color: $mainColor;
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
    outline: none;
    list-style: none;

}
